<div>
    <h1>List of comics</h1>

    <div *ngIf="!loaded">
        Loading...
    </div>
    <div *ngIf="loaded">
        <!-- show list of comics -->
        <div class="row">
            <div class="col-xs-6 col-md-3" *ngFor="let c of comics.data.results">
                <a [routerLink]="['/comics', c.id]" class="thumbnail">
                    <img [src]="c.images[0].path + '.' + c.images[0].extension" />
                </a>
            </div>
        </div>
        <div>
            <a *ngIf="currentPage > 1" (click)="setPage(currentPage - 1)">prev</a>
            {{currentPage}}/{{totalPages}}
            <a *ngIf="currentPage < totalPages" (click)="setPage(currentPage + 1)">next</a>
        </div>
    </div>

</div>